<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <h2>Coding Challenges</h2>
    <!--<div sec:authorize="isAuthenticated()">-->
        <!--<span sec:authentication="principal.authorities">[USER, ADMIN]-->
        <!--</span><br/><br/>-->
    <!--</div>-->
    <section>
        <div th:each="challenge : ${challenges}">
            <a th:href="@{${challenge.challengeLink}}" th:text="${challenge.challangeTopc}" target="_blank"></a>
        </div>
    </section>

</div>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>